/* Enter your custom styles here */

.Height_CSS {
    overflow: hidden !important;
}

.sapTntNavLIGroup {
    border-bottom: 0px solid #e5e5e5 !important;
}

.saparatebackground {
    background: white;
}

.sapTntNavLIItem {
    height: 2rem !important;
}

.margintop {
    margin-top: 0.5rem !important;
}

.idJobdetailscss {
    border: 0px !important;
}

.roundButton .sapMBtnInner {
    border-radius: 2.5rem;
}